In [1]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt

In [2]:
df = pd.read_csv('../data/1_10_seasons_tbbt.csv')
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 54406 entries, 0 to 54405
Data columns (total 3 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   episode_name  54406 non-null  object
 1   dialogue      54404 non-null  object
 2   person_scene  54406 non-null  object
dtypes: object(3)
memory usage: 1.2+ MB

In [3]:
df.tail()

,episode_name,dialogue,person_scene
54401,Series 10 Episode 24 – The Long Distance Disso...,"And I with you. Question, are you seeking a r...",Sheldon
54402,Series 10 Episode 24 – The Long Distance Disso...,What if I were?,Ramona
54403,Series 10 Episode 24 – The Long Distance Disso...,"Well, that would raise a number of problems. ...",Sheldon
54404,Series 10 Episode 24 – The Long Distance Disso...,Princeton.,Scene
54405,Series 10 Episode 24 – The Long Distance Disso...,"(Knock, knock, knock) Amy. (Knock, knock, kno...",Sheldon

In [4]:
df['person_scene'].value_counts()[:10]

person_scene
Sheldon       11484
Leonard        9638
Penny          7477
Howard         5737
Raj            4576
Amy            3419
Scene          2850
Bernadette     2636
Stuart          726
(off)           218
Name: count, dtype: int64

In [7]:
per_episodes_manuscripts = df.groupby('episode_name')

TypeError: Must provide 'func' or tuples of '(column, aggfunc).